body{
    background-color: black;
    
}
.content{
    
}
#image{
    float: left;
    width: 50%;
    height: 900px;
    border: blue solid 2px;
    background-image: url("/images/me.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.7;
    background-color:#282727 ;
}
h1{
    text-align: center;
    color: white;
    font-style: bold;
    margin-top: 400px;
}
h2{
    text-align: center;
    color: green;
    margin-top: 10px;
    font-style: bold;
}
#description{
    border: greenyellow solid 2px;
}
